*{
    padding: 0;
    margin: 0;
}

nav{
    top:0;
    background-color: rgb(4, 21, 37);
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 7vh;
    position:sticky ;
    width: 100%;
   

    
}
nav h1{
    font-size: 40px;
}

.menuUl{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 199px;
    color: rgb(255, 0, 0);
}

.menuUl a{
    color:white;
    text-decoration: none;
    font-size: 30px;
    padding:16px;
}

.menuUl a:hover {
    background-color: red;
}

.im {
    max-width: 500px;
    margin: auto;
}

.text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 45px;
    
    
}

.text :not(h1){
    margin-top: 50px;
 
}

.right{
    margin: 0;
    right:0;
}
.Contenuto b{
    color:red;
    font-style: oblique;
}

.title{
    background-color: black;
    color: rgb(211, 58, 58);
    text-align: center;
}   

.Contenuto{
    animation: anim 0.5s ease-in;
}


@keyframes anim{
    from{
        transform: translateX(100%);
        opacity: 0;
    }

    to{
        transform: translateX(0%);
        opacity: 1;
    }
    }
}